*.pyc
*.retry
*.tox/
.idea/*
.vscode/*
.venv
.stestr/
*.DS_Store

devstack/files/*.deb
devstack/files/*.deb.*
venv/

dist
build/*
venus.egg-info/
venus/hacking/__pycache__/

# Editors
*.sublime-workspace
*.swp
*.swo

doc/build/*
doc/source/_static/*.sample
api-ref/build/*
releasenotes/build*

AUTHORS
Authors
ChangeLog

openstack_venus.egg-info/*